*{
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  #modal{
      text-align: center;
  }

  .fechar{
      background-color: green;
      width: 1000px;
      height: 1000px;
  }